<IfModule mime_module>
    RewriteEngine on
    RewriteBase /vnback/
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
    RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
  AddHandler application/x-httpd-ea-php74 .php .php7 .phtml
</IfModule>